@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;600;700;800&family=Roboto:wght@300;400;500;700&family=Source+Serif+Pro:wght@700&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --main-color: #eeeeee;
    --secondary-color: #222222;
    --main-transition: cubic-bezier(0.18, 1.25, 0.55, 1.05);
}

html {
    scroll-behavior: smooth;
}

html body {
    background-color: #111111;
}

::selection {
    color: rgb(250, 99, 99);
}

h1 {
    font-family: "Source Serif Pro";
    color: var(--main-color);
    cursor: default;
}

h2,
h3,
h4,
h5,
h6 {
    font-family: "Roboto Slab", "serif";
    color: var(--main-color);
    transition: text-shadow 0.3s ease-in-out;
    cursor: default;
}

h2:hover,
h3:hover,
h4:hover,
h5:hover,
h6:hover {
    text-shadow: 1px 1px 5px rgb(250, 99, 99);
}

p,
li {
    font-family: "Roboto", "sans serif";
    text-decoration: none;
    list-style-type: none;
    color: var(--main-color);
    cursor: default;
}

.App {
    opacity: 0;
    animation: fadeIn 1s forwards ease-out;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}
