@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;600;700;800&family=Roboto:wght@300;400;500;700&family=Source+Serif+Pro:wght@700&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --main-color: #eeeeee;
    --secondary-color: #222222;
}

h1 {
    font-family: "Source Serif Pro";
    color: var(--main-color);
}

h2,
h3,
h4,
h5,
h6 {
    font-family: "Roboto Slab", "serif";
    color: var(--main-color);
}

p,
li {
    font-family: "Roboto", "sans serif";
    text-decoration: none;
    list-style-type: none;
    color: var(--main-color);
}

body {
    background-color: #111111;
}
